.delado{
    float: left;
    width: 50% ;
    height: 50%;
}
.centrado{
    display: flex;
    justify-content: center;
}
.galeria{
    margin: 50px;
    border: 1px solid rgb(33, 26, 26);
    float: left;
    width: 100w;

}
div.galeria img{
    width: 130px;
    height: 250px;
}
.descripcion{
    padding: 20px;
    text-align: center;
}